
.whynot {
    

background: linear-gradient(to bottom , rgb(252, 207, 207) , rgb(34, 31, 31) );



}

button:hover {

box-shadow: 0 0  3px black;


}

.cqwc {

text-decoration: none;

}










